body {
  background: linear-gradient(120deg, #44136b, #450857);
  color: white;
  font-family: "Courier New", Courier, monospace;
}

#titulo {
  text-align: center;
  font-size: 42px;
  color: darkcyan;
}

#titulo_subtitulo{
  color:darkkhaki;
  text-align: center;
  font-size: 38px;
}

ol {
  color: white;
  font-size: 25px;
}

a {
  color: yellow;
  font-size: 25px;
}

#by {
  text-align: center;
  font-size: 35px;
  font-family: "Courier New", Courier, monospace;
  color: thistle;
}
