body {
    background: linear-gradient(120deg, #44136b, #450857);
    font-family: "Courier New", Courier, monospace;
    color: white;
  }

  #home {
    font-size: 40px;
  }
  
  #botaoHome {
    font-size: 30px;
  }

  #by {
    color: white;
    font-size: 35px;
    text-align: center;
  }

  h1{
    text-align: center;
    color:blanchedalmond;
  }

  h2{
    color: yellowgreen;
  }

  #referencia{
    color:black;
  }

  #extincao::first-letter{
        color: orange;
        font-size: xx-large;
        font-size: 25px;
}

#animais{
    text-align: center;
}