@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

:root { /* variaveis css*/
    --cor-primaria: #0f0e0e;
    --cor-secundaria:#F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover:#541212;

    --fonte-primaria:'Krona One','sans-serif';
    --fonte-secundaria:'Montserrat', sans-serif;
}

body{
    background-color: var(--cor-primaria);
}

#filme_titulo{
    font-family: var(--fonte-primaria);
    color: var(--cor-terciaria);
}

#home {
    font-size: 40px;
    margin: 20px;
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
  }

.filme_conteudo{
    font-weight: bold;
  }
  
  #botaoHome {
    font-size: 45px;
    width: 62px;
    margin: 22px;
  }

.filme{
    color: var(--cor-secundaria);
    text-align: center;
    font-size: 36px;
    padding: 100px;
    font-family: var(--fonte-secundaria);
    background-color: darkcyan;
}

#filme_campo{
    width: 500px;
    margin-top: 40px;
    height: 45px;
    font-size: 26px;
    text-align: center;
}

#filme_cadastrar{
    width: 250px;
    margin-top: 50px;
    height: 80px;
    background: darkslategray;
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-size: 26px;
}

  .rodape{
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    font-family: var(--fonte-secundaria);
    padding: 1.5rem;
    text-align: center;
    font-weight: 400px;
}