@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
  margin: 2px;
  padding: 2px;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.conteudo {
  margin-bottom: 48px;
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.conteudo-principal-escrito-titulo {
  font-family: 'Righteous', cursive;
  font-size: 64px;
  font-weight: 400;
  color: #FFF2E7;
}

.conteudo-principal-escrito-titulo2 {
    font-family: 'Righteous', cursive;
    font-size: 40px;
    font-weight: 400;
    color: rgb(149, 129, 129);
  }

.conteudo-principal-escrito-subtitulo {
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #ECD6C4;
}

.conteudo-principal-escrito-botao {
  background-color: #ECD6C4;
  width: 310px;
  height: 45px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #2F2325;
}

.conteudo-principal-escrito-botao:hover {
  background-color: rgba(236, 214, 196, 0.53);
}

.conteudo-principal-imagem {
    border-radius: 50%;
    width: 40%;
    height: 10%;
}

.conteudo-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
}

.conteudo-secundario-titulo {
  border-top: 0.4px solid #FFF2E7;
  padding-top: 48px;
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 48px;
  color: #FFF2EF;
  margin-bottom: 16px;
}

.conteudo-secundario-subtitulo {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 26px;
    text-align: center;
    color: #FFF2EF;
    margin-bottom: 6px;
  }

.conteudo-secundario-paragrafo {
  font-family: 'Sarala', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #ECD6C4;
  text-align: center;
}

#referencia{
    color: #FFF2E7;
    text-align: center;
    font-family: 'Sarala', sans-serif;
    font-size: 20px;
}

.rodape{
    text-align: center;
    font-size: 28px;
    font-family: 'Righteous', cursive;
    color: rgb(0, 255, 183);
    text-align: center;
}

#link{
    color: #ECD6C4;
}

#link2{
    color: #FFF2EF;
}
